#Main_div {

}

.Form_div {
  


  /*
  border-style: dashed;
  */
}

.row_style {
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
}

.col_style {
  margin-top: 1%;
  padding: 0.5%;

  border-style: solid;
  border-color: white;
  
  display: flex;
  justify-content: center;
}

.Input_form {
  /*
  border-style: solid;
  border-color: red;
  */
  margin-top: 20px;
  padding: 3%;
}

#Response_div {
  margin-top: 75px;
  margin-bottom: 75px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: solid;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.Response_word {
  margin-bottom: 20px;
  margin-left: 10px;
}

.Response_example {
  margin-left: 10px;
}

.Response_translation {
  margin-left: 10px;
}
