.Form_div {
  


  /*
  border-style: dashed;
  */
}

.row_style {
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
}

.col_style {
  margin-top: 1%;
  padding: 0.5%;

  border-style: solid;
  border-color: white;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.dictionaryForm {
/*
  border-style: solid;
  border-color: red;
*/
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 2%;
}

.Input_form {
  /*
  border-style: solid;
  border-color: red;
  */
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 3%;
}

#Response_div {
  margin-top: 75px;
  margin-bottom: 75px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: solid;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.Response_word {
  margin-bottom: 20px;
  margin-left: 10px;
}

.Response_example {
  margin-left: 10px;
}

.Response_translation {
  margin-left: 10px;
}
