.Main_div {
  /*
  border-style: ridge;
  border-color: #d9d9d9;
  border-radius: 10px;
  */
}

.Jumbotron_div {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  /*
  border-style: solid;
  border-radius: 10px;
  */
  background-color: #454d54;
}

.Section_title {
  margin-top: 0px;
}

.Section_text {
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.Section_example {
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
  margin-left: 20px;
  font-style: italic;
}
