.Main-div {
  overflow: auto;
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
  font-size: 25px;
  font-family: sans-serif;
  border-style: solid;
  border-radius: 10px;
  border-color: #d9d9d9;
  height: 680px;
  background-color: #343a40;
}
