.App {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}

  .Navbar {
      margin-left: 300px;
      margin-right: 300px;
      font-size: 25px;
      border-radius: 10px;
      border-style: solid;
      border-color: #d9d9d9;
    }

  .Tabs {
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;

    border-style: solid;
    border-radius: 10px;
    height: 800px;
    background-color: #343a40;
  }

    .Tab {

    }
